<input name="city" [(ngModel)]="city" />
<button class="btn btn-default" (click)="changeCity(city)">Search</button>
<br/>
<br/>
<button class="btn btn-default" (click)="displayChart(this.windArray)">Wind</button>
<button class="btn btn-default" (click)="displayChart(this.temperatureArray)">Temperature</button>
<button class="btn btn-default" (click)="displayChart(this.pressureArray)">Pressure</button>
<button class="btn btn-default" (click)="displayChart(this.humidityArray)">Humidity</button>
<div *ngIf="chart">
  <canvas id="canvas">{{ chart }}</canvas>
</div>
